Repository NHSDigital/nhs-fhir-middy-error-handler: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-middy-error-handler, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: lint-middy-error-handler
        name: Lint middy-error-handler
        entry: make
        args: ["lint-node"]
        language: system
        files: ^src
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

AEA-3622 Actionlint issues fixed.
  .github/workflows/dependabot-auto-approve_and_merge.yml
  .github/workflows/pr-link.yml
  .github/workflows/publish.yml
Due: lint-githubactions

release notes settings
  package.json
Due: none

Fix: [AEA-3605] - Release Notes Settings (#44)
  .devcontainer/devcontainer.json
  package.json
Due: none

linting
  src/index.ts
Due: lint-middy-error-handler

Build: [AEA-3605] - Linting (#45)
  src/index.ts
Due: lint-middy-error-handler

package.json
  package.json
Due: none

Fix: [AEA-3605] - Release Notes Settings (#46)
  package.json
Due: none

djsfkdjkf
  package-lock.json
Due: none

Build: [AEA-3605] - Linting (#47)
  package-lock.json
Due: none

removes unused settings
  package.json
Due: none

disables success comment
  package.json
Due: none

Fix: [AEA-3605] - Release Notes Settings (#49)
  package.json
Due: none

updates release notes settings
  package.json
Due: none

Fix: [AEA-3605] - Release Notes Settings (#50)
  package.json
Due: none

linting
  package.json
  tests/index.test.ts
  tsconfig.json
Due: none

adds release guide
  RELEASE.md
Due: none

Fix: [AEA-3605] - test commit
  package.json
Due: none

npm dep changes
  package-lock.json
  package.json
Due: none

adds semantic changelog
  package-lock.json
  package.json
Due: none

markdown changes, formatting changes
  .devcontainer/devcontainer.json
  .github/workflows/quality_checks.yml
  .pre-commit-config.yaml
  .releaserc
  CONTRIBUTING.md
  Makefile
  README.md
  RELEASE.md
  package.json
Due: lint-githubactions

edits PR template and regexing
  .github/pull_request_template.md
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

package-lock
  package-lock.json
Due: none

updates prefix regex
  .github/workflows/rename_dependabot_prs.yml
Due: lint-githubactions

parallelises sonarcloud scan
  .github/workflows/quality_checks.yml
Due: lint-githubactions

New: [AEA-3605] - Repo setup (#17)
  .devcontainer/devcontainer.json
  .github/pull_request_template.md
  .github/workflows/pr_title_check.yml
  .github/workflows/quality_checks.yml
  .github/workflows/rename_dependabot_prs.yml
  .pre-commit-config.yaml
  .releaserc
  CONTRIBUTING.md
  Makefile
  README.md
  RELEASE.md
  package-lock.json
  package.json
Due: lint-githubactions

update dependabot prefixes
  .github/dependabot.yml
Due: lint-githubactions

Build: [AEA-3605] - Update dependabot PR title prefixes (#19)
  .github/workflows/quality_checks.yml
Due: lint-githubactions

Build: [AEA-3605] - Update dependabot PR title prefixes (#21)
  .github/dependabot.yml
Due: lint-githubactions

adds checkout to sonarcloud step
  .github/workflows/quality_checks.yml
Due: lint-githubactions

Build: [AEA-3605] - Update sonarcloud workflow (#22)
  .github/workflows/quality_checks.yml
Due: lint-githubactions

Build: [AEA-3605] - Backdates typescript for dependabot test (#23)
  package-lock.json
  package.json
Due: none

clean up PR workflows
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/rename_dependabot_prs.yml
Due: lint-githubactions

Build: [AEA-3605] - Clean up PR workflows (#25)
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/rename_dependabot_prs.yml
  package-lock.json
  package.json
Due: lint-githubactions

removes unused dependency
  package-lock.json
  package.json
Due: none

Build: [AEA-3605] - Removes unused dependency (#26)
  package-lock.json
  package.json
Due: none

updates release branch name
  .releaserc
Due: none

Build: [AEA-3605] - Sets release branch name (#27)
  .releaserc
Due: none

Build: [AEA-3605] - Sets release branch name (#28)
  .releaserc
Due: none
