Repository NHSDigital/nhs-fhir-middy-error-handler: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-middy-error-handler, lint-githubactions

lint-middy-error-handler:
  name: Lint middy-error-handler
  entry: make
  args:
  - lint-node
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  b11d01b596ec50e8bb925b4669cebbadf2c8e79c
Due: none

specifies public access
  package.json
Due: none

Build: [AEA-3605] - Specifies public scope (#29)
  package.json
Due: none

Notes added by 'git notes add'
  bd2366384af30ea46930e028bf7c572ca0206724
Due: none

adds note on failed npm publishes
  RELEASE.md
Due: none

package-lock
  package-lock.json
Due: none

Docs: [AEA-3605] - Adds failed release guide (#30)
  RELEASE.md
Due: none

adds rerunning checks instructions
  .github/pull_request_template.md
Due: none

Docs: [AEA-3605] - Adds rerunning checks instructions to PR template (#32)
  .github/pull_request_template.md
Due: none

removes lambda powertools dependency
  package-lock.json
  package.json
  src/index.ts
Due: lint-middy-error-handler

Chore: [AEA-3605] - Removes @aws-lambda-powertools/logger dependency (#33)
  package-lock.json
  package.json
  src/index.ts
Due: lint-middy-error-handler

adds note to remove PR naming instructions from PR template
  .github/pull_request_template.md
Due: none

Docs: [AEA-3605] - Adds note to remove PR naming instructions from PR template (#34)
  .github/pull_request_template.md
Due: none

adds npm package badge
  README.md
Due: none

Docs: [AEA-3605] - Adds NPM badge to readme (#35)
  README.md
Due: none

AEA-3622 Removed disabled shellcheck errors.
  .github/workflows/pr-link.yml
Due: lint-githubactions

AEA-3622 Satisfying shellcheck.
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

Chore: [AEA-3622] - Fix GitHub actionlint errors and enable (#36)
  .devcontainer/Dockerfile
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/pr_link.yml
  .github/workflows/pr_title_check.yml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
Due: lint-githubactions

fixes pr title check env var
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

Build: [AEA-3605] - Fixes PR title check workflow environment variable error (#37)
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

Notes added by 'git notes add'
  11860cbd163eccb24dd5e0a35ad243b9b94b92ed
Due: none

moves sonarcloud steps to within quality check job
  .github/workflows/quality_checks.yml
Due: lint-githubactions

adds sonarcloud badge
  README.md
Due: none

Build: [AEA-3605] - Fixes SonarCloud coverage report (#40)
  .github/workflows/quality_checks.yml
  README.md
Due: lint-githubactions

calls quality_checks on push to main
  .github/workflows/quality_checks.yml
Due: lint-githubactions

adds CI pipeline
  .github/workflows/ci.yml
  .github/workflows/quality_checks.yml
Due: lint-githubactions

Build: [AEA-3605] - Calls quality_checks on push to main (#41)
  .github/workflows/ci.yml
Due: lint-githubactions

removes docker-outside-of-docker
  .devcontainer/devcontainer.json
Due: none

removes parts of example from readme
  README.md
Due: none

updates readme example
  README.md
Due: none

Docs: [AEA-3605] - Removes docker-outside-of-docker from devcontainer and updates Readme example (#42)
  .devcontainer/devcontainer.json
  README.md
Due: none

Docs: [AEA-3605] - Updates Readme example (#43)
  README.md
Due: none

Notes added by 'git notes add'
  115f2f9bead0a88d52fdbefa6b6ad760c098a750
Due: none

removes npm version badge
  README.md
Due: none

Docs: [AEA-3605] - Removes NPM version badge (#44)
  README.md
Due: none

restores @aws-lambda-powertools/logger dependency
  package-lock.json
  package.json
  src/index.ts
Due: lint-middy-error-handler

Fix: [AEA-3605] - Restores @aws-lambda-powertools/logger dependency and type (#49)
  package-lock.json
  package.json
  src/index.ts
Due: lint-middy-error-handler

Notes added by 'git notes add'
  eaf534a474197ca76b7309d1580ba084b417f255
Due: none

Path conditions:
  lint-middy-error-handler: any of: ^src
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
